<html>
  <head>
    <link href="/assets/css/Home.css" rel="stylesheet" type="text/css" />
  </head>

  <div class="default-page">
    <input class="input-tag" name="email" placeholder="Enter Your Email Address To Subscribe"/>
    <button class="button" id="subscribe">Page subscribe</button>
  </div>

  <div class="default-page">
    <input class="input-tag" name="positionEmail" placeholder="Enter Your Email Address"/>
    <button class="button" id="position">Find Position</button>
  </div>

  <div class="default-page">
      
    <a rel="external nofollow" href="https://www.linkedin.com/shareArticle?url=https://www.google.com/" target="_blank" title="Share on LinkedIn" >
      <i class="fab fa-linkedin-in"></i>
    </a>

    <a href="https://twitter.com/share?url=https://www.google.com/" target="_blank" title="Share on Twitter">
      <i class="fab fa-twitter"></i>
    </a>
    
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.google.com/" target="_blank" title="Share on Facebook">
      <i class="fab fa-facebook-f" ></i>
    </a>

  </div>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/assets/js/PageSubscribe.js"></script>
