<html>
  <head>
    <link href="/assets/css/Home.css" rel="stylesheet" type="text/css" />
  </head>
  <div class="default-page">
    <input class="input-tag" name="email" />
    <button class="button" id="subscribe">Page subscribe</button>
  </div>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/assets/js/PageSubscribe.js"></script>
