<html>
  <head>
    <link href="/assets/css/ThankYou.css" rel="stylesheet" type="text/css" />
  </head>
  <div class="default-page">
   <img src="assets/img/Thank-You-for-subscribing.png" alt="thankYou" class="">
  </div>
  <div class="default-page">
    <a id="BaseURL" class="baseUrl"></a>
    <img src="assets/img/copy.png" onclick="copyToClipboard('#BaseURL')" alt="copy" class="copyButton" title="copy">
  </div>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/assets/js/ThankYou.js"></script>
