<html>
  <head>
    <link href="/assets/css/ThankYou.css" rel="stylesheet" type="text/css" />
  </head>
  <div class="default-page">
    Thank You For Subscribe
  </div>
  <div class="default-page">
    <a id="BaseURL"></a
    ><button id="copyLink" onclick="copyToClipboard('#BaseURL')">
      Copy
    </button>
  </div>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/assets/js/ThankYou.js"></script>
